.contenedor
{
width: 600px; 
background: rgb(255, 251, 251);
margin: 0 auto;
padding: 20px;
margin-top: 5px;
border-radius: 15px;
}
.contenedor h1
{
text-align: center;
color: #70b5ff;
}
.contenedor table
{
margin-top: 30px; /* margen desde arriba */
margin-left:auto; /* centrar tabla */
margin-right:auto; /* centrar tabla */
text-align: center;
font-size: 24px;
}
.contiene
{
width: 30px;
background-color: #5a5a5a;
padding: 30px;
}
.no-contiene
{
width: 30px;
background-color: #1c03fd57;
padding: 10px;
}
.contenedor-alternativa
{
display:flex; /*colocar los DIV uno al lado del otro*/
justify-content: center; /*centrar los DIV en el contenedor*/
}
.caja
{
width: 30px; 
padding: 15px;
text-align: center;
font-size: 24px;
color: #ffffff;
background-color: #346aff;
border: 1px solid #ffa8a8;
cursor: pointer;
margin: 2px;
}
.resultado
{
background-color: #5d9de2; 
color: #0459ad; 
text-align: center; 
padding: 15px;
border-radius: 10px;
}
/* estilo cronometro */
* {
    transition: all 0.3s;
    }
    .marco {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: calibri;
    color: black; 
    }
    .botones-contenedor {
    display: flex;
    justify-content: space-around;
    }
    .btn {
    cursor: pointer;
    display: inline-block;
    font-size: 60%;
    padding: 20px;
    }
    